body {background: colour #dfffdf;
        font-family: Arial, Verdana, sans-serif;
        text-align: centre;
        color: #5a5004;
        font-size: 1.2em;
        margin: 20px;
        padding: 20px;
    }
